/.vs

/CaptainShop/bin
/CaptainShop/Logs
/CaptainShop/node_modules
/CaptainShop/obj
/CaptainShop/wwwroot/lib

/CaptainShop.Application/bin
/CaptainShop.Application/obj

/CaptainShop.Application.Dapper/bin
/CaptainShop.Application.Dapper/obj

/CaptainShop.Data/bin
/CaptainShop.Data/obj

/CaptainShop.Data.EF/bin
/CaptainShop.Data.EF/obj

/CaptainShop.Infrastructure/bin
/CaptainShop.Infrastructure/obj

/CaptainShop.Utilities/bin
/CaptainShop.Utilities/obj

/CaptainShop.WebApi/bin
/CaptainShop.WebApi/obj





